@using ToyData.Models;
@using ToyWeb.Extensions;
@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "Cart";  
}

<h3>Cart Page</h3>
@{
    List<ShoppingCart> emptyCart = Context.Session.GetObject<List<ShoppingCart>>("cart");
    var totalCart = emptyCart.Sum(item => item.CToy.MToyRate * item.SiQty);
}
 
@if(@emptyCart.Count != 0)
{
    
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Option</th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @foreach (ShoppingCart item in @Context.Session.GetObject<List<ShoppingCart>>("cart"))
    {
        <tr>
            <td><a href="@Url.Action("Remove", "Cart", new { id = item.CToy.CToyId })">Remove</a></td>
            <td>@item.CToy.CToyId</td>
            <td>@item.CToy.VToyName</td>
            <td>@item.CToy.MToyRate.ToString("C2")</td>
            <td>@item.SiQty</td>
            <td>
                @{
                    var totalPrice = item.CToy.MToyRate * item.SiQty;
                }
                @totalPrice.ToString("C2")
            </td>
        </tr>
    }
     <tr>
        <td align="right" colspan="5">Sum:</td>
        <td>
            @{
                List<ShoppingCart> cart = Context.Session.GetObject<List<ShoppingCart>>("cart");
                var overAllTotal = cart.Sum(item => item.CToy.MToyRate * item.SiQty);
            }
            @overAllTotal.ToString("C2")
        </td>
    </tr>
</table>
<br>
    <a href="@Url.Action("Index", "Toy")">Continue Shopping</a>
}
else
{
    <h3>cart is empty</h3>
}





